@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    color: #16161D;
}

html, body {
    margin: 0;
    padding: 0;
}

.backwards-nav {}

.backwards-nav > :not(:first-child):before {
    content: '|';
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.underline-strike {
    text-decoration: underline line-through;
}

.invisible-selection *::selection {
    background: transparent;
}

.styled-autolink > * {
    color: #0000EE;
    cursor: pointer;
}

.styled-autolink:visited > * {
    color: #551A8B;
}

.cover-autolink-visited:visited > * {
    color: #0000EE;
}

.styled-autolink:active > *, .styled-autolink:visited:active > * { color: #FF0000; }

.quote {
    position: relative;
}

.quote::before {
    content : url("/images/commons/quote.svg");
    display: block;
    align-self: start;
    margin-bottom: 1.5rem;
}

.quote-border > span:first-child, .quote-border > p:first-child, .quote-border > a:first-child {
    display: inline-block;
    padding-left: 2rem;
    border-left: 1px solid #D5DAFF;
}

@media screen and (min-width: 480px) {
    .h1-media {
        font-size: 2.25rem !important;
    }

    .h2-media {
        font-size: 2rem !important;
    }
}

@media screen and (min-width: 768px) {
    .h1-media {
        font-size: 2.875rem !important;
    }

    .h2-media {
        font-size: 2.125rem !important;
    }
}

@media screen and (min-width: 1024px) {
    .h1-media {
        font-size: 3.0625rem !important;
    }

    .h2-media {
        font-size: 2rem !important;
    }

    .h3-media {
        font-size: 1.75rem !important;
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes grow-from-right {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes translate-from-left {
    0% {
        transform: translateX(calc(var(--translate-offset) * -1));
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes translate-from-right {
    0% {
        transform: translateX(var(--translate-offset));
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes translate-from-top {
    0% {
        transform: translateY(calc(var(--translate-offset) * -1));
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes translate-from-bottom {
    0% {
        transform: translateY(var(--translate-offset));
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes grow {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes grow-y-full {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@media screen and (max-width: 991px) {

    .h3-media {
        font-size: 24px !important;
    }

}

@media screen and (max-width: 479px) {

    .h3-media {
        font-size: 22px !important;
    }

}


